html, body {
    margin: 0;
    padding: 0;
}

.flex-container {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: lightgrey;
}

.box1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cornflowerblue;
}

.box1:hover {
    background-color: lightgreen;
    width: 400px;
    height: 400px;
}

.box2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: firebrick;
}

.box2:hover {
    border-color: yellow;
    border-width: 20px;
    box-shadow: 50px 50px 5px lime;
}

.box3 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: greenyellow;
}

.box3:hover {
    border-radius: 300px;
    height: 300;
    width: 300;
    background-color: chocolate;
}

.box4 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: purple;
    text-align: center;
    font-size: 25px;
}

.box4:hover {
    background-color: rgb(231, 231, 7);
    opacity: .2;
    
}

.box5 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: orange;
}

.box5:hover {
    border-radius: 50px;
    box-shadow: 25px 25px 1px darkblue;
}

.box6 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: lightcoral;
}

.box6:hover {
    width: 25px;
    height: 25px;
    background-color: darkmagenta;
    border: 50px solid yellow;
}